<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>help/QA</title>
  {% load static %}
  {% block bootstrap3_extra_head %}
  <link rel="icon" href="{% static 'image/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/footerFixed.js"></script>
  {% endblock %}
</head>

<body>
  <div style="margin:18px 20px 0 50px; float:right;">
    <input type="submit" class="btn btn-info" onClick="location.href='/'" value="Logout"/>
  </div>
  <div id="header">
    <div style="float: right;">
      <p id="LoginID" style="margin:10px 10px 0 0;">User　　 ： {{user_id}}</p>
      <p id="LoginDate" style="margin:2px 10px 0 0;">Last-login： {{datetime}}</p>
    </div>
  </div>
  <div style="clear: both;"></div>

  <div>
    <p class="ItemHeader">マニュアルダウンロード</p>
  </div>
  <div id="LoginInfo">
      <p style="margin:30px 0 0 200px;">マニュアルはこちらよりダウンロードできます。</p>
      <a href="../static/image/tkmesmanual.pdf" download><img src="../static/image/Pdffile.png" style="margin:30px 20px 0 300px;"></a>
      <a href="../static/image/tkmesmanual.pdf" download style="margin: 20px 20px 0 300px">tkmesmanual.pdf</a>
    </div>
  </div>
  </div>

  <div style="clear: both;"></div>

  <div style="margin:60px 0 0 650px;">
    <input type="image" onClick="location.href='../menu'" src="../static/image/btn_007.png" alt="back">
    <div onClick="location.href='../menu'" style="position:absolute; margin:-35px 0 0 30px; color:#fff; cursor:pointer;">⇚back</div>
  </div>
  <div style="clear: both;"></div>

  <div id="footer">
    <img src="../static/image/logo.png" alt="" width="50" height="50" border="0" style="margin:5px 0 0 20px; float:left">    
    <p id="TkmesInfo" style="margin:20px 0 0 30px; font-size:20pt">Tkmes Corporation&copy;2018</p>
    <a href="https://get.adobe.com/jp/reader/"><img src="../static/image/adobe_reader.gif" art="adobe_reader" style="margin:-30px 20px 0 0;float:right;"></a>
  </div>
</body>
</html>
